fastapi~=0.115.12
uvicorn[standard]
sqlalchemy~=2.0.40
pydantic[email]~=2.11.4
python-jose[cryptography]~=3.4.0
passlib[bcrypt]~=1.7.4
python-multipart
pymysql
cryptography
mysql-connector-python

celery
openpyxl
celery[redis]
redis<5.0

